@namespace xf url("http://www.w3.org/2002/xforms");

.xforms-group {
   display: table;
 }

 .xforms-input, .xforms-secret, .xforms-output {
    display: table-row;
 }

 .xforms-value {
    text-align: left;
 }

 .xforms-input .xforms-label, .xforms-secret .xforms-label {
    display: table-cell;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: right;
    width: 110px;
 }
 
 legend {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: left;
 }
 .xforms-output {
   color:red;
 }
 